
.facebox {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  box-shadow:0 0 20px #525252;
  border-radius:12px;
  background-color: #fff;
  padding: 10px;
  border:7px solid rgba(34,34,34,0.4);
}

.facebox .popup {
  position: relative;
}

.facebox .content{
  cursor:auto;
}

.facebox .loading {
  text-align: center;
}

.facebox .image {
  text-align: center;
}

.facebox .imgg {
  border: 0;
  margin: 0;
}

.facebox a.close img{ vertical-align:-4px; }
.facebox a.minimise img{ vertical-align:-4px; }
.facebox a.close,a.minimise
{
	border: 0 !important;
  padding:3px;
  margin-left:10px;
}

.facebox .footerr:hover { cursor:move; }
.facebox .footerr {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 5px;
  margin-bottom: 10px;
  text-align: right;
}

.facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background-color:#222;
  overflow:hidden;
  background-image:url(../imgs/scanline_bg.png);
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
/*  background-color:#222;
  overflow:hidden;
  background-image:url(imgs/scanline_bg.png);
  z-index: 99;*/
}

* html #facebox_overlay { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
