@font-face {
                    src: url('assets/comfortaa.ttf') format("truetype"), url('assets/confortaa.eot');
                    font-family: 'comfortaa';
                }

*{
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	font-size:14px;}

.normalFontFamily{
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif !important;
}
body{
background-image:url(../imgs/scanline_bg.png);
}

.strikeLine{ text-decoration: line-through; }

.noStrikeLine{ text-decoration: none; }


.hand{
cursor:hand;
cursor:pointer;
}

.noHand{
cursor:default !important;
}

.normalFont{
font-size:15px !important;
}
.smallFont{
font-size:12px !important;
}
.tinierFont{
font-size:10px !important;
}
.tinyFont{
font-size:11px !important;
}
small{
font-size:12px !important;
}
.bigFont{
font-size:20px !important;
}
.mediumFont{
font-size:13px !important;
}
.mediumBigFont{
font-size:17px !important;
}
.blackFont{color:#000;}
.monospace{
font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

/*this is for the tiny logo rotation.*/
@keyframes rotateor{
    from {
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotateor{
    from {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
.autorotate{
    animation: rotateor 2s linear infinite;
    -webkit-animation: rotateor 2s linear infinite;
}
.autorotateSlow{
    animation: rotateor 10s linear infinite;
    -webkit-animation: rotateor 10s linear infinite;
}
.autorotateFaster{
    animation: rotateor 1s linear infinite;
    -webkit-animation: rotateor 1s ease-in-out infinite;
}

h2{
font-size:20px;
margin:0;
padding:0;
margin-bottom:10px;
font-weight:bold;
}


a{text-decoration:none;padding:0;margin:0;color:#007B93;}
.link{
text-decoration:none;
font-weight:bold;
padding:3px;
border-radius:3px;
}
.link:hover{
background-color:#B5DBFF;
/*text-decoration:underline;*/
color:#00509D;
}
.linkSelected{
background-color:#B5DBFF;
text-decoration:underline;
color:#00509D;
}


.menuItem{
	padding:1px 3px;font-size:13px;
    white-space: nowrap;
}

/*
.dataTable{
border-collapse:collapse;
border:1px solid #B5DBFF;
padding:2px;
}
.dataTable>td{
border:1px solid #B5DBFF;
padding: 3px;
}
.dataTable td.title{
width:20%;
background-color: #d7e6f3;
}
.dataTable tr:nth-child(even){
background-color: #dae0ee;
}
.dataTableVertical th{
background-image:url(../imgs/scanline.png);
background-color:#c2eef7;
}
.dataTableVertical>td,th{
align:center;
border:1px solid #3d5e8b;
}
.dataTableVertical{
border-collapse: collapse;
border:1px solid #3d5e8b;
min-width:650px;
margin:5px;
}
.dataTableVertical tr:nth-child(even) {
background-color: #dbe8f2;
}
*/

input{
width:100%;
display:inline;
padding:5px;
border:1px solid #B7DCFF;
color:#999;
border-radius:3px;
transition: all 0.3s;
}
input[readonly]{
    color:999;
    background-color: #ccc;
}
input:disabled{
    background-color:#ccc;
    color: #666;
    vertical-align:
}
.inputBlurred{
color:#164e56;
border: 1px solid #888d8e;
}

input:focus, .inputFocussed{
color:#000;
border: 1px solid #eee;
box-shadow:0 0 4px #fff;
box-shadow:inset 0 0 4px #999;
background-color:#d6faff;
}
input[readonly]:focus{
    color:#999;
    box-shadow: none;
}
input button{
cursor:hand;
cursor:pointer;
}


.scanlining{
    background-image:url(../imgs/scanline_bg_slant.png);
}

#main{ overflow-y:visible; }

pre{
font-size:11px;
font-family:monospace;
}


.prettyUnderline{
border-bottom:1px dotted #0f474f;
}

.buttonAdmin{
    background-color: #d46262 !important;
    border-color: #9e2828 !important;
}
.buttonAdmin:hover{
    box-shadow:0 0 4px 4px #9e2828 !important;
    border-color:#fff !important;
    background-color: #e10d0d !important;
}

.buttonimg, .button{
border-radius:4px;
border:1px solid #444;
background-color:#92c4ef;
color:#000;
cursor:hand;
cursor:pointer;
padding:2px 4px;

transition: background-color 0.4s;
-webkit-transition: background-color 0.4s;

}
.buttonimg:hover, .button:hover{
background-color:#2f93e9;
border-color:#a9c5f8;
color:#fff;
box-shadow:inset 0 0 4px #222;
background-image:url(../imgs/scanline_bg_slant.png);
text-shadow:0 0 6px #205a46;
font-stretch:ultra-expanded;

transition: background-color 0.4s;
-webkit-transition: background-color 0.4s;

}
.buttonSelected{
background-color:#2f93e9;
border-color:#a9c5f8;
color:#fff;
box-shadow:inset 0 0 4px #222;
background-image:url(../imgs/scanline_bg_slant.png);
text-shadow:0 0 6px #205a46;
font-stretch:ultra-expanded;

transition: background-color 0.4s;
-webkit-transition: background-color 0.4s;

}

div #button{
padding:5px;
margin:10px;
max-width:270px;
}
.buttonimg{
background-color:#1b4060;
padding:3px 4px;
}

.noSpace{
	padding:0 !important;
	margin:0 !important;
};


hr{
clear:both;
border:none;
border-bottom:2px solid #ccc;
height:1px;
}


.standardDivBox{
border-radius:4px;
border:1px solid #888;
background-color:#fff;
box-shadow:0 0 10px -1px #222;
padding:5px;
}


.boringDivBox{
padding:5px;
border:1px solid #ccc;
margin:2px;
}
.boringDivBox:hover{
border-color:#999;
}


.toggler{
background-color:#2d89b8;
padding:1px 3px;
border-radius:3px;
border:1px solid transparent;
color:#fff;
font-size:13px;
cursor:hand;
cursor:pointer;
transition: background-color 0.4s;
-webkit-transition: background-color 0.4s;
}
.toggler:hover{
background-color: #444;
color:#fff;
transition: background-color 0.4s;
-webkit-transition: background-color 0.4s;
}
.togglerSelected{
background-color: #444;
padding:1px 3px;
border-radius:3px;
border:1px solid transparent;
color:#fff;
font-size:13px;
cursor:hand;
cursor:pointer;
}
.togglerDead{
background-color: #DDD;
color:#000;
padding:1px 3px;
border-radius:3px;
border:1px solid #007B93;
font-size:12px;
}

.imgrectify1px  { vertical-align:-1px; }
.imgrectify2px  { vertical-align:-2px; }
.imgrectify3px  { vertical-align:-3px; }
.imgrectify4px  { vertical-align:-4px; }
.imgrectify5px  { vertical-align:-5px; }
.imgrectify6px  { vertical-align:-6px; }
.imgrectify7px  { vertical-align:-7px; }
.imgrectify8px  { vertical-align:-8px; }
.imgrectify9px  { vertical-align:-9px; }
.imgrectify10px { vertical-align:-10px; }
.imgrectify11px { vertical-align:-11px; }
.imgrectify12px { vertical-align:-12px; }
.imgrectify13px { vertical-align:-13px; }
.imgrectify14px { vertical-align:-14px; }
.imgrectify15px { vertical-align:-15px; }
.imgrectify16px { vertical-align:-16px; }
.imgrectify17px { vertical-align:-17px; }
.imgrectify18px { vertical-align:-18px; }
.imgrectify19px { vertical-align:-19px; }
.imgrectify20px { vertical-align:-20px; }
.imgrectify21px { vertical-align:-21px; }
.imgrectify22px { vertical-align:-22px; }
.imgrectify23px { vertical-align:-23px; }
.imgrectify24px { vertical-align:-24px; }
.imgrectify25px { vertical-align:-25px; }
.imgrectify26px { vertical-align:-26px; }
.imgrectify27px { vertical-align:-27px; }
.imgrectify28px { vertical-align:-28px; }
.imgrectify29px { vertical-align:-29px; }
.imgrectify30px { vertical-align:-30px; }

.imgrectifyup1px  { vertical-align:1px; }
.imgrectifyup2px  { vertical-align:2px; }
.imgrectifyup3px  { vertical-align:3px; }
.imgrectifyup4px  { vertical-align:4px; }
.imgrectifyup5px  { vertical-align:5px; }
.imgrectifyup6px  { vertical-align:6px; }
.imgrectifyup7px  { vertical-align:7px; }
.imgrectifyup8px  { vertical-align:8px; }
.imgrectifyup9px  { vertical-align:9px; }
.imgrectifyup10px { vertical-align:10px; }
.imgrectifyup11px { vertical-align:11px; }
.imgrectifyup12px { vertical-align:12px; }
.imgrectifyup13px { vertical-align:13px; }
.imgrectifyup14px { vertical-align:14px; }
.imgrectifyup15px { vertical-align:15px; }
.imgrectifyup16px { vertical-align:16px; }
.imgrectifyup17px { vertical-align:17px; }
.imgrectifyup18px { vertical-align:18px; }
.imgrectifyup19px { vertical-align:19px; }
.imgrectifyup20px { vertical-align:20px; }
.imgrectifyup21px { vertical-align:21px; }
.imgrectifyup22px { vertical-align:22px; }
.imgrectifyup23px { vertical-align:23px; }
.imgrectifyup24px { vertical-align:24px; }
.imgrectifyup25px { vertical-align:25px; }
.imgrectifyup26px { vertical-align:26px; }
.imgrectifyup27px { vertical-align:27px; }
.imgrectifyup28px { vertical-align:28px; }
.imgrectifyup29px { vertical-align:29px; }
.imgrectifyup30px { vertical-align:30px; }




.slidingBox{
float:left;
box-shadow:0 0 20px #111;
padding:10px;
background-color: #fff;
border-bottom-right-radius:5px;
border-bottom-left-radius:5px;
display: none;
}

.dimmer{
position:fixed;
top:0;
left:0;
background-color:#222;
width:100%;
height:100%;
overflow:hidden;
background-image:url(../imgs/scanline_bg.png);
opacity: 0.7;
-moz-opacity: 0.7;
filter:alpha(opacity=7);
}

/*.highlight{
background:#cbcbcb;
border-radius:3px;
padding:0 3px;
}*/
.highlight{
background:#685dec !important;
border-radius:3px !important;
color:#fff;
}


.halfTransparent{
opacity: 0.5;
-moz-opacity: 0.5;
filter:alpha(opacity=5);
transition: all 0.4;
}
.halfTransparent:hover{
opacity: 1;
-moz-opacity: 1;
filter:alpha(opacity=1);
transition: all 0.4;
}

.resultFoundMini{
padding:3px;
margin:3px;
border:1px solid #999;
border-radius:3px;
background-color:#fff;
display:inline-table;
}
.resultFoundMini:hover{
color:#fff;
background-color:#41697e;
}

.warning{
background-color:#ecaeae;
padding:2px;
}

.whitebg{
background:#fff;
}


/*******CUSTOMS********/



/*FOR SUIVIE GLOBALE, when clicking on a project to view expanded details -- takes precedence over the more specific > selectors for tables */
.suivieGlobaleExplodedview{
    background-color:#90f59c !important;
}
.suivieGlobaleProjectViewed{
    background-color:#90f59c !important;
    font-weight: 800 !important;
}

.fixedTop{
    position: fixed;
    top: 0;
}

.fixedBottom{
    position: fixed;
    bottom: 0;
}

.slideToNothing{
    width:0;
    height:0;
    transition: width,height 1;
}

.tinyFontedTable tbody td,thead th,thead tr, tr th{
    font-size:11px;
}

tr.bottomTable{
    color:#000;
    background-color:#999;
}

.genericTable{
    border-radius:4px;
    border:2px solid #999;
    /*width: 90%;*/
    overflow-y:scroll;
    background-color:#fff;
    border-spacing: 1px;
}
.genericTable > tbody > tr:nth-child(even){
    background-color:#ccc;
}
.genericTable > tbody tr > td{
    border-bottom:1px solid transparent;
    transition: all 0.4s;
}
.genericTable > tbody > tr{
    transition: all 0.4s;
}
.genericTable > tbody > tr:nth-child(odd){
    background-color:#fff;
}
.genericTable > thead > tr{
    background-color: #333;
    color:#fff;
}
.genericTable > tbody > tr:nth-child(odd) > td{
    border-right:1px solid #ccc;
}
.genericTable > tbody > tr:nth-child(even) > td{
    border-right:1px solid #fff;
}
.genericTable > tbody > tr:hover > td{
    background-color:#aae2ff;
    border-bottom-color:#222;
    transition: all 0.4s;
}

.noHoverTrStyle:hover{ background-color:#333 !important; }

.genericTableManualTDHover{
    background-color:#aae2ff;
    border-bottom-color:#222;
    transition: all 0.4s;
}

.genericTable > tbody > tr.selectedRow > td{
    background-color:#aae2ff;
    border-bottom-color: red;
    transition: all 0.4s;
}

.validationTable thead > tr > th{
    padding:3px;
}
.validationTable tbody > tr > td{
    padding:3px;
}

.SPRODfieldset{
    /*width:90%;*/
    border-radius:4px;
    border:2px solid #6f7b84;
    padding:10px;
}

.makeChosen option{
	text-align:left;
}
.makeChosen, .makeChosenNoSearch{
    width:250px;
    font-size:13px;
}

.projectListTable{
    border-color:#5c9aca;
    border-spacing: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.projectListTable thead tr th{
    color:#fff;
    background-color:#5c9aca;
    border:1px solid #3d5e8b;
    text-align: center;
}
.projectListTable tbody tr td{
    border:1px solid #3d5e8b;
    text-align: center;
}

.MECGeneralTable{
    border-color:#429355;
    border-spacing: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.MECGeneralTable thead tr th{
    color:#fff;
    background-color:#429355;
    border:1px solid #23542e;
    text-align: center;
}
.MECGeneralTable tbody tr td{
    border:1px solid #23542e;
    text-align: center;
}


.saisieAbsenceTable{
    border-color:#7b3c27;
    border-spacing: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.saisieAbsenceTable thead tr th{
    color:#fff;
    background-color:#d56b46;
    border:1px solid #7b3c27;
    text-align: center;
}
.saisieAbsenceTable tbody tr td{
    border:1px solid #7b3c27;
    text-align: center;
}


/*when submitting a sheet and there is invalid data*/
.invalidData{
    background-color:#ff0000;
    border-color:#ff0000;
    transition: all 0.4s;
}

.main{
    min-height:5px;
}

.mainMenuH2{
    text-align: right;
}

.mainMenuSection{
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
    background-color: #fff;
    transition: background-color 0.4s;
}
.mainMenuSection:hover{
/*    background-color: #d7e9f8;
    transition: background-color 0.4s;*/
}
.mainmenuSectionContainer{
    text-align: center;
}

.blockicon{
    display:inline-block;
    min-width: 80px;
    min-height: 60px;
    padding:4px;
    margin:10px;
    text-align: center;
    vertical-align: middle;
    border:3px solid #365b98;
    box-shadow:0 0 4px 2px #999;
    transition: all 0.4s;
}
.blockicon:hover{
    box-shadow:0 0 4px 4px #53a2e5;
    border-color:#dee8f8;
    transition: all 0.4s;
}
.blockicon img{
    padding:3px;
    border-radius:3px;
    background-color:#fff;
    margin:3px 0;
}

.FATableORnot{
    display: inline-block;
    margin: 3px;
}

/* FOR PRIVILEGES SELECT(S) */
.appendSAIcon:after{ display:inline-block;float:right; content:url(../imgs/user_SA.png); }
.appendAIcon:after{ display:inline-block;float:right; content:url(../imgs/user_A.png); }
.appendMIcon:after{ display:inline-block;float:right; content:url(../imgs/user_M.png); }
.appendCPIcon:after{ display:inline-block;float:right; content:url(../imgs/user_CP.png); }
.appendUIcon:after{ display:inline-block;float:right; content:url(../imgs/user_U.png); }
/* END FOR PRIVILEGES SELECT(S) */
/*******CUSTOMS********/

.saveButtons:hover{
    font-weight: 800;
}

.projectListSelectfacturable{
    background-color:#c5fcd0;
    border-left:2px solid #5ac871;
}

.picturesque{
    border-radius:4px;
    border:2px solid #efefef;
}